* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    position: absolute;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    min-width: 100vw;
    min-height: 3000px;
}

.Scene {
    z-index: -1;
    /* position: absolute; */
    margin: 30vh 0 0 0;
}

.boy {
    /* transform: scale(1.5); */
    /* height: 200px; */
}

.boy2 {
    /* transform: scale(1.4); */
}

.boy3 {
    /* transform: scale(1.4); */
}

.reset-class {
    z-index: 1;
    position: absolute;
}

.Overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #202020;
    color: #f1f1f1;
    z-index: 999;
}

h1,
h3,
h4 {
    margin: 1rem;
}